<footer class='footer'>
  <div class="has-text-centered">
  <div class='social'>
    <ul>
      <li>
        <a class="social fa fa-instagram" href='https://www.instagram.com/12urenloop/', title='Follow us on Instagram'; alt=''></a>
      </li>
      <li>
        <a class="social fa fa-twitter" href='https://twitter.com/12urenloopGent', title='Follow us on Twitter'; alt=''></a>
      </li>
      <li>
        <a class="social fa fa-facebook" href='https://www.facebook.com/12urenloop', title='Follow us on Facebook'; alt=''></a>
      </li>
      <li>
        <a class="social fa fa-linkedin" href='https://www.linkedin.com/company/gentse-12urenloop', title='Follow us on LinkedIn'; alt=''></a>
      </li>
    </ul>
  </div>

  <div class='copyright'>
    <p>
      &copy;
      <%= Time.now.year %>
      <%= link_to "12urenloop.be", "#" %>
      <br/>
      All Rights Reserved.
    </p>
  </div>
  </div>
</footer>
