<nav class='navbar' role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <%= image_tag 'logo-small.png'%>
    </div>
  </div>
  <div class='navbar-end'>
    <div class="navbar-item field is-grouped">
        <ul>
          <li><a href='#home'>Inschrijven</a></li>
          <li><a href='#teams'>Teams</a></li>
        </ul>

        <select class='nav-select' name='dropdpown' size='1' onChange='scrollTo(this.value)'>
          <option value='' selected='selected'>Menu</option>
          <option value='#home'>Inschrijven</option>
          <option value='#teams'>Teams</option>
        </select>
      </div>
      </div>
</nav>
