.header {
  background-color: #ddd;

  h1 {
    color: #ffc007;
    text-shadow: 5px 5px 5px #2a2ba1;
    text-transform: uppercase;
    line-height: 1.125;
    font-family: 'LeagueGothic-Regular';
    font-size: 120px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 2px 2px #000000;
}
h2, h3 {
    font-family: 'Oswald', sans-serif;   font-weight: 300;
  }

  // Sprockets helper
  // http://guides.rubyonrails.org/asset_pipeline.html#css-and-sass
  background: image-url('background.png');
  background-size: cover;

  .images {
    .column {
      padding: 0;
    }
  }

  .form-wrapper {
    padding: 20px;
  }
}

.bsa {
  padding: 2rem;

  .columns {
    min-height: 120px;
  }
}

.question {
  font-size: 300%;
  text-align: right;
}

.button.is-info {
  color: #fff !important;
  margin-top: 10px !important;
}

label.required:after{
  content: "*";
}

.success {
  background: image-url('success.png');
  background-size: cover;
}

#info {
  h1 {
    font-size: 3rem;
    line-height: 56px;
  }

  h3 {
    margin-top: 30px;
    margin-bottom: 14px;
    font-size: 1.6rem;
    line-height: 28px;
  }

  h4 {
    line-height: 20px;
    font-size: 1rem;
    color: #555;
    font-family: 'segoe-ui_normal';
  }

  h1, h2, h3 {
    font-family: 'segoe-ui_light';
  }

  .reasons {
    .icon {
      height: 100px;

      .fa {
        font-size: 100px;
      }
    }
  }

  .passions {
    h2 {
      font-weight: 700;
      font-size: 1.55rem;
    }

    img {
      border-radius: 100%
    }
  }
}

.divider-wrapper {
  min-height: 0 !important;

  .divider {
    border-top: 1px solid #000;
    margin-top: 30px;
  }
}

//.teams {
  //.column {
    //padding: 0.5rem;
  //}
//}

//.team {
  //border: 1px solid #000;
  //padding: 5px;
  //height: 100%;

  //.team-name {
    //display: block;
    //font-weight: bold;
  //}
//}
